<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>筋斗云学堂</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var courseid="{{courseid}}";
        $.getJSON("/api/course/info/"+courseid, function(data,status){
          var course_name=data.info.name;
          var course_description=data.info.description;
          var course_teacher=data.info.teacher;
          var course_time=data.info.time;
          var course_classroom=data.info.classroom;
          $("#course_name").text(course_name);
          $("#course_description").text(course_description);
          $("#course_teacher").text(course_teacher);
          $("#course_time").text(course_time);
          $("#course_classroom").text(course_classroom)
        });

        $.getJSON("/api/course/homework/{{courseid}}",function(data,status){
          var addhtml='<div class="row">\
              <div class="col-md-9">\
                <h4>%s</h4>\
                <p>%s</p>\
              </div>\
              <div class="col-md-3">\
                <button class="btn btn-primary" id="homework%d">提交</button>\
              </div>\
            </div>';
          if(data.res=="00000"){
            var homework=data.homework;
            var i;
            var start=0;
            if(homework.length-4>start)
              start=homework.length-4
            for(i=homework.length-1;i>=start;i--){
              var description=homework[i].description;
              var deadline=homework[i].deadline;
              var homeworkid=homework[i].id;
              $("#homework").append(sprintf(addhtml,description,deadline,homeworkid));
            }
          }
        });

        $.getJSON("/api/course/resource/{{courseid}}",function(data,status){
          if(data.res=="00000"){
            var resource=data.resource;
            var start=0;
            if(resource.length-4>start)
              start=resource.length-4
            for(var i=resource.length-1;i>=start;i--){
              $("#resourceinfo").append(sprintf('<h4><a href="/resource/{{courseid}}/%s">%s</a></h4><hr>',resource[i],resource[i]));
            }
          }
        });

        $.getJSON("/api/user/info",function(data,status){
          if(data.res=="00000"){
            $("#teachername").text(data.info.name);
            $("#teacheremail").text(data.info.email);
          }
        });
        $("#logout").click(function(){
          $.getJSON("/api/user/logout",function(data,status){
            window.location.href="/login"
          });
        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">筋斗云学堂</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text">你好 曾兆阳</p>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="注销" id="logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 id="course_name"></h1>
      <h5 id="course_description"></h5>
      <h5 id="course_teacher"></h5>
      <h5 id="course_time"></h5>
      <h5 id="course_classroom"></h5>
      <hr>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>课程动态</h4>
          </div>
          <div class="panel-body">
            <h4>哎呀我滴妈作业要交了</h4>
            <hr>
            <h4>哎呀我滴妈作业要交了</h4>
            <hr>
            <h4>哎呀我滴妈作业要交了</h4>
            <hr>
            <h4>哎呀我滴妈作业要交了</h4>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>课程资料</h4>
          </div>
          <div class="panel-body" id="resourceinfo">
            <!-- <h4>第四个PPT</h4>
            <hr>
            <h4>第三个PPT</h4>
            <hr>
            <h4>第二个PPT</h4>
            <hr>
            <h4>第一个PPT</h4>
            <hr> -->
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>课程作业</h4>
          </div>
          <div class="panel-body" id="homework">
            <!-- <div class="row">
              <div class="col-md-9">
                <h4>第四次作业</h4>
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary" style="float:right;">提交</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-9">
                <h4>第三次作业</h4>
              </div>
              <div class="col-md-3">
                <button class="btn btn-success" style="float:right;">再次提交</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-9">
                <h4>第四次作业</h4>
              </div>
              <div class="col-md-3">
                <button class="btn btn-warning disabled" style="float:right;">截止提交</button>
              </div>
            </div> -->

          </div>
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>联系方式</h4>
          </div>
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                <img class="media-object" src="/static/img/aa.jpg">
              </div>
              <div class="media-body">
                <h4 class="media-heading" id="teachername"></h4>
                <h5 id="teacheremail"></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>