<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>筋斗云学堂</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        var courseid="{{courseid}}";
        var homeworkid="{{homeworkid}}";
        $.getJSON("/api/course/info/"+courseid, function(data,status){
          var course_name=data.info.name;
          var course_description=data.info.description;
          var course_teacher=data.info.teacher;
          var course_time=data.info.time;
          var course_classroom=data.info.classroom;
          $("#course_name").text(course_name);
         // $("#course_description").text(course_description);
         // $("#course_teacher").text(course_teacher);
         // $("#course_time").text(course_time);
         // $("#course_classroom").text(course_classroom)
        });

        $.getJSON("/api/course/homework/submit/"+courseid+"/"+homeworkid,function(data,status){
          if(data.res="00000"){
            var homework=data.homework;
            var len=homework.length;
            var i;
            for(i=0;i<len;i++){
              if(homework[i].issubmit=="1"){
                $("#homework").append(
                  sprintf('<tr><td>%s</td><td>%s</td><td>%s</td><td><button class="btn btn-primary homeworkdownload" studentuserid="%s">下载</button></td></tr>',
                  homework[i].userid,homework[i].studentid,homework[i].name, homework[i].userid));
              }
              else{
                $("#homework").append(
                  sprintf('<tr><td>%s</td><td>%s</td><td>%s</td><td><button class="btn btn-danger disabled">未提交</button></td></tr>',
                  homework[i].userid,homework[i].studentid,homework[i].name));
              }
            }
          }
          
        });

        $(document).on("click",".homeworkdownload", function(){
          var url="/homework/download/{{courseid}}/{{homeworkid}}/"+$(this).attr("studentuserid");
          window.location.href=url;
        });

        $("#logout").click(function(){
          $.getJSON("/api/user/logout",function(data,status){
            window.location.href="/login"
          });
        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">筋斗云学堂</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text" id="hiname"></p>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="注销" id="logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 id="course_name"></h1>
      <h5 id="course_description"></h5>
      <hr>
      <table  class="table table-striped" id="homework">
        <tr>
          <th>用户id</th>
          <th>姓名</th>
          <th>学号</th>
          <th>是否交作业</th>
        </tr>
      </table>
    </div>
  </body>
</html>
