<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>筋斗云学堂</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $.getJSON("/api/user/info",function(data,status){
          var username=data.info.username;
          var name=data.info.name;
          var studentid=data.info.studentid;
          var email=data.info.email;
          var phone=data.info.phone;
          $("#username").attr("value",username);
          $("#password").attr("value","********");
          $("#name").attr("value",name);
          $("#hiname").text("你好 "+name)
          $("#studentid").attr("value",studentid);
          $("#email").attr("value",email);
          $("#phone").attr("value",phone);
        });
        $.getJSON("/api/course/getcourse",function(data,status){
          var course=data.course;
          var i;
          var addhtml='<div class="col-md-6 course" courseid="%d">\
              <div class="panel panel-default">\
                <div class="panel-body">\
                  <h3>%s</h3>\
                  <h4>%s</h4>\
                </div>\
              </div>\
            </div>'
          for(i=0;i<course.length;i++){
            $("#course").append(sprintf(addhtml,course[i].courseid,course[i].name,course[i].teacher))
          }
        });
        $(document).on("click", ".course", function(){
          var courseid=$(this).attr("courseid");
          window.location.href="/course/"+courseid;
        });

        $("#edit").click(function(){
          $(this).removeClass("btn-warning").addClass("btn-primary");
          $("#name").attr("disabled","");
          $("#studentid").attr("disabled","");
          $("#email").attr("disabled","");
          $("#phone").attr("disabled","");
          $(this).text("提交");
          $(this).addClass("updatesubmit");
        });

        $(document).on("click", ".updatesubmit", function(){
          var name=$("#name").val();
          var studentid=$("#studentid").val();
          var email=$("#email").val();
          var phone=$("#phone").val();
          var para={
            "name":name,
            "studentid":studentid,
            "email":email,
            "phone":phone
          }
          $.post("/api/user/update",para,function(data,status){
            if(data.res="00000"){
              alert("修改成功");
              window.location.reload();
            }
          });
        });

        $("#logout").click(function(){
          $.getJSON("/api/user/logout",function(data,status){
            window.location.href="/login"
          });
        });
      });
    </script>
    <style type="text/css">
      .course{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">筋斗云学堂</a>
        </div>
        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <p class="navbar-text" id="hiname"></p>
            </li>
            <li>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="注销" id="logout">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-md-3">
        <ul class="list-group">
          <a href="#profile" aria-controls="profile" data-toggle="tab" class="list-group-item list-group-item-default activt">
            个人信息<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></span>
          </a>
          <a href="#course" aria-controls="course" data-toggle="tab" class="list-group-item list-group-item-default">
            我的课程<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="float:right;"></span>
          </a>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade in" id="profile">
            <center><h1>个人信息</h1></center>
            <hr>
            <form onsubmit="return false;">
              <div class="form-group">
                <label for="username">
                  <h4>用户名</h4>
                </label>
                <input type="text" class="form-control" disabled id="username">
              </div>
              <div class="form-group">
                <label for="password">
                  <h4>密码</h4>
                </label>
                <input type="password" class="form-control" disabled id="password">
              </div>
              <div class="form-group">
                <label for="name">
                  <h4>姓名</h4>
                </label>
                <input type="text" class="form-control" disabled id="name">
              </div>
              <div class="form-group">
                <label for="studentid">
                  <h4>学号</h4>
                </label>
                <input type="text" class="form-control" disabled id="studentid">
              </div>
              <div class="form-group">
                <label for="email">
                 <h4>邮箱</h4>
                </label>
                <input type="email" class="form-control" disabled id="email">
              </div>
              <div class="form-group">
                <label for="phone">
                  <h4>电话</h4>
                </label>
                <input type="text" class="form-control" disabled id="phone">
              </div>
              <button class="btn btn-warning" id="edit">编辑</button>
            </form>
          </div>
          <div class="tab-pane fade" id="course">
            <center><h1>我的课程</h1></center>
            <hr>
            <!-- <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>云计算应用开发</h3>
                  <h4>王昌栋</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>数据库系统设计</h3>
                  <h4>郑贵锋</h4>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body">
                  <h3>做人</h3>
                  <h4>曾兆阳</h4>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
