<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>筋斗云学堂——登录</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#done").click(function(){
          var username=$("#username").val();
          var password=$("#password").val();
          var para={
            'username':username,
            'password':password
          }
          $.post("/api/user/login",para,function(data,status){
            if(data.res=="00000"){
              window.location.href="/";
            }
            else{
              alert("登录失败")
            }
          });
        });
      });
    </script>
    <style type="text/css">
      .container{
        position: relative;
        top:170px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>筋斗云学堂</h4>
          </div>
          <div class="panel-body">
		<div>
		<img src="/static/img/logo3.png"/>
		</div> 
            <form onsubmit="return false">
              <div class="form-group">
                <label for="username">
                  <h4>username:</h4>
                </label>
                <input class="form-control" type="text" id="username">
                </div>
              <div class="form-group">
                <label for="password">
                  <h4>password:</h4>
                </label>
                <input class="form-control" type="password" id="password">
              </div>
              <center><button class="btn btn-primary" id="done">登录</button></center>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
